force-app/main/default/flows/Example_Flow_Rich_Text_Text_Area_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Page_1</name>
        <label>Assign Page 1</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Page_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Text_Area_Example_Input_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Page_2</name>
        <label>Assign Page 2</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Page_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Example_Text_Area_Output_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Page_3</name>
        <label>Assign Page 3</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Page_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Example_File_Upload_Component</targetReference>
        </connector>
    </assignments>
    <description>This is an example flow that demonstrates some basic configuration options for your rich text and text area custom components.</description>
    <environments>Default</environments>
    <interviewLabel>Example Flow Rich Text / Text Area Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Example Flow Component Hyphen8</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Example_File_Upload_Component</name>
        <label>Example File Upload Component</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Page3Nav</name>
            <extensionName>c:FlowStageNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BasicFileUploadConfiguration</name>
            <extensionName>c:h8FlowFileUploads</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>acceptedFormats</name>
                <value>
                    <stringValue>.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowMultipleFiles</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableFileDelete</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileUploadLabel</name>
                <value>
                    <stringValue>Upload Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Some sample help text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredValidationMessage</name>
                <value>
                    <stringValue>You have to upload at least 1 file</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showUploadButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>uploadedlabel</name>
                <value>
                    <stringValue>Files you have already uploaded</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Example_Text_Area_Output_Screen</name>
        <label>Example Text Area Output Screen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Page_3</targetReference>
        </connector>
        <fields>
            <name>Page2Nav</name>
            <extensionName>c:FlowStageNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TextAreaOutputCharacterCount</name>
            <extensionName>c:customTextAreaComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Character Count Text Area Output</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>exampleTextAreaCharacterCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>label-stacked</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAreaHeight</name>
                <value>
                    <stringValue>250px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayCharacterCount</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayWordCount</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TextAreaExampleWordCountOutput</name>
            <extensionName>c:customTextAreaComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Word Count output Example</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>exampleTextAreaWordCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>label-stacked</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAreaHeight</name>
                <value>
                    <stringValue>250px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayCharacterCount</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayWordCount</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>RichTextOutputCharacterCount</name>
            <extensionName>c:customRichTextComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Rich Text Output Character Count</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>exampleRichTextCharacterCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAreaHeight</name>
                <value>
                    <stringValue>250px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayCharacterCount</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayWordCount</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>RichTextWordCountOutput</name>
            <extensionName>c:customRichTextComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Rich Text WordCount Output</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>richTextWordCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAreaHeight</name>
                <value>
                    <stringValue>250px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayCharacterCount</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayWordCount</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>exampleTimeOutput</name>
            <extensionName>c:customTimeComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>timeValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Example Time Output</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Text_Area_Example_Input_Screen</name>
        <label>Example Text Area Input Screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Page_2</targetReference>
        </connector>
        <fields>
            <name>Page1Nav</name>
            <extensionName>c:FlowStageNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>customPrintButtonDemo</name>
            <extensionName>c:customPrintButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonAssistiveText</name>
                <value>
                    <stringValue>Print Page</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonFloat</name>
                <value>
                    <stringValue>slds-float_right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Print</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CustomTextAreaExampleInput</name>
            <extensionName>c:customTextAreaComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayCharacterCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayWordCount</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLevelHelp</name>
                <value>
                    <stringValue>You need to provide some help text on this field to support input in a popover</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Character Count Text Area Example</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <stringValue>255</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCountMessage</name>
                <value>
                    <stringValue>Please review what you have submitted, you are limited to 255 characters.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Enter placeholder in here for when the value is not present</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requireFieldMessage</name>
                <value>
                    <stringValue>This is a required field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>exampleTextAreaCharacterCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>label-stacked</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAreaHeight</name>
                <value>
                    <stringValue>200px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>exampleTextAreaCharacterCount</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>workcounttextareainput</name>
            <extensionName>c:customTextAreaComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayCharacterCount</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayWordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLevelHelp</name>
                <value>
                    <stringValue>This is a work count text area input</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Word count example text area</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxWordCount</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxWordCountMessage</name>
                <value>
                    <stringValue>You have exceeded the maximum number of words allowed.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Enter some text in here</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requireFieldMessage</name>
                <value>
                    <stringValue>This field is required you can only continue once you have completed this field.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>exampleTextAreaWordCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>label-stacked</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAreaHeight</name>
                <value>
                    <stringValue>200px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>exampleTextAreaWordCount</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>RichTextCharacterCount</name>
            <extensionName>c:customRichTextComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayCharacterCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayWordCount</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLevelHelp</name>
                <value>
                    <stringValue>This is a rich text character count example</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Rich Text Character Count Example</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCount</name>
                <value>
                    <stringValue>1000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxCharacterCountMessage</name>
                <value>
                    <stringValue>You have entered to many characters for this field, please review and adjust your text before continuing.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Enter text in here</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requireFieldMessage</name>
                <value>
                    <stringValue>This is a required field please complete before continuing</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>exampleRichTextCharacterCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>formats</name>
                <value>
                    <stringValue>font,size,bold,italic,underline,strike,list</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAreaHeight</name>
                <value>
                    <stringValue>225px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>exampleRichTextCharacterCount</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>RichTextWordCountInput</name>
            <extensionName>c:customRichTextComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayCharacterCount</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayWordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLevelHelp</name>
                <value>
                    <stringValue>Word Count input example</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Rich Text Word Count Input Example</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelVisible</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxWordCount</name>
                <value>
                    <stringValue>100</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxWordCountMessage</name>
                <value>
                    <stringValue>Please reduce the number of words</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Enter text in here</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requireFieldMessage</name>
                <value>
                    <stringValue>You need to provide a value in this field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>richTextWordCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAreaHeight</name>
                <value>
                    <stringValue>225px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>richTextWordCount</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>exampleTimeInput</name>
            <extensionName>c:customTimeComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Example Time Input field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>timeValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredMessage</name>
                <value>
                    <stringValue>A value needs to be selected in this field to progress</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValue</name>
                <value>
                    <stringValue>17:30:00.000Z</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minValue</name>
                <value>
                    <stringValue>09:00:00.000Z</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>timeValue</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Page_1</name>
        <isActive>true</isActive>
        <label>Page 1</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Page_2</name>
        <isActive>true</isActive>
        <label>Page 2</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Page_3</name>
        <isActive>true</isActive>
        <label>Page 3</label>
        <stageOrder>30</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Page_1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>exampleRichTextCharacterCount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>exampleTextAreaCharacterCount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>exampleTextAreaWordCount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>richTextWordCount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>timeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
