force-app/main/default/flows/H8FlowFormCustomValidationTemplate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>If type of validation is not found then return an error. Either metadata is wrong or flow is!</description>
        <name>Assign_Default_Error</name>
        <label>Assign Default Error</label>
        <locationX>710</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>validationMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NoValidationTypeFoundErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Output_Messages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Filtered_Sections</name>
        <label>Assign Filtered Sections</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Get_H8_Flow_Form_Sections</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_Sections</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collate_H8_Flow_Form_Section_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Filtered_Validations</name>
        <label>Assign Filtered Validations</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Get_H8_Flow_Form_Validations</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_Validation_Pages</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Ensure we reset the validation messages to empty at the end to clear for next check</description>
        <name>Assign_Output_Messages</name>
        <label>Assign Output Messages</label>
        <locationX>556</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>validationResult.validationFieldType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_validation_field.FlowValidationType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>validationResult.validationMessages</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>validationMessages</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>validationResults</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>validationResult</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>validationMessages</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>validationMessagesEmpty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_validation_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Test_Validation_Message</name>
        <label>Assign Test Validation Message</label>
        <locationX>270</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>validationMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Test Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Output_Messages</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Sections</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Sections</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>currentItem_Filter_Sections</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_H8_Flow_Form_Sections</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Sections.MasterLabel</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>H8FlowFormSectionName</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Filtered_Sections</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Validation_Pages</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Validation Pages</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignNextValueToReference>currentItem_Filter_Validation_Pages</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_H8_Flow_Form_Validations</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Validation_Pages.Page__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>H8FlowFormSectionPageName</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Filtered_Validations</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Are_we_filtering_on_a_section</name>
        <label>Are we filtering on a section?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Collate_H8_Flow_Form_Section_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Filter_on_Section</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>H8FlowFormSectionName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Sections</targetReference>
            </connector>
            <label>Filter on Section</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_we_filtering_on_pages</name>
        <label>Are we filtering on pages?</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Filter_on_page</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>H8FlowFormSectionPageName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Validation_Pages</targetReference>
            </connector>
            <label>Filter on page</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_Check</name>
        <label>Test Check</label>
        <locationX>402</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Assign_Output_Messages</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Test_Check_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>TEST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Test_Validation_Message</targetReference>
            </connector>
            <label>Test Check Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Validation</name>
        <label>Type of Validation</label>
        <locationX>556</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Assign_Default_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Validation_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_each_validation_field.FlowValidationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Test_Check</targetReference>
            </connector>
            <label>Validation Test</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NoValidationTypeFoundErrorMessage</name>
        <dataType>String</dataType>
        <expression>&quot;No Validation Set for &quot; + {!For_each_validation_field.FlowValidationType__c}</expression>
    </formulas>
    <interviewLabel>H8FlowFormCustomValidationTemplate {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>H8FlowFormCustomValidationTemplate</label>
    <loops>
        <name>For_each_validation_field</name>
        <label>For each validation field</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <collectionReference>Get_H8_Flow_Form_Validations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Type_of_Validation</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_validation_field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_H8_Flow_Form_Metadata</name>
        <label>Get H8 Flow Form Metadata</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_H8_Flow_Form_Sections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>H8FlowFormName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>H8_Flow_Form__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_H8_Flow_Form_Sections</name>
        <label>Get H8 Flow Form Sections</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_we_filtering_on_a_section</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>H8_Flow_Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_H8_Flow_Form_Metadata.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>H8_Flow_Form_Section__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_H8_Flow_Form_Validations</name>
        <label>Get H8 Flow Form Validations</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_we_filtering_on_pages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsFlowValidation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FlowValidationType__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>H8_Flow_Form_Section__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Collate_H8_Flow_Form_Section_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>H8_Flow_Form_Section_Validation__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_H8_Flow_Form_Metadata</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <transforms>
        <name>Collate_H8_Flow_Form_Section_Ids</name>
        <label>Collate H8 Flow Form Section Ids</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Get_H8_Flow_Form_Validations</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_H8_Flow_Form_Sections[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItem_Filter_Sections</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>H8_Flow_Form_Section__mdt</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Validation_Pages</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>H8_Flow_Form_Section_Validation__mdt</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>H8_Flow_Form_Section_Validation__mdt</objectType>
    </variables>
    <variables>
        <name>H8FlowFormName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Dans_Test_Form</stringValue>
        </value>
    </variables>
    <variables>
        <name>H8FlowFormSectionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>H8FlowFormSectionPageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validationMessages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validationMessagesEmpty</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validationResult</name>
        <apexClass>H8FlowFormFlowValidationResults</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validationResults</name>
        <apexClass>H8FlowFormFlowValidationResults</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
