force-app/main/default/flows/TEMPLATE_FlowNavigateToURL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FlowNavigateToUrl</name>
        <label>FlowNavigateToUrl</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:FlowNavigateToUrl</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>enterURLForNavigationToo.value</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:FlowNavigateToUrl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <description>Example of using the flow navigate to URL component</description>
    <environments>Default</environments>
    <interviewLabel>TEMPLATE - NavigateToURL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEMPLATE - FlowNavigateToURL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>EnterUrl_for_Navifation</name>
        <label>EnterUrl for Navifation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FlowNavigateToUrl</targetReference>
        </connector>
        <fields>
            <name>enterURLForNavigationToo</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EnterUrl_for_Navifation</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
