force-app/main/default/flows/TEMPLATE_eSignature_Component_Setup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <description>This is a template flow to demonstrate different configurations / setup of the eSignature component</description>
    <environments>Default</environments>
    <interviewLabel>TEMPLATE - eSignature Component Setup {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>TEMPLATE - eSignature Component Setup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>This screen is used to demonstrate displaying the uploaded signature on the previous window</description>
        <name>DisplaySignatureScreen</name>
        <label>DisplaySignatureScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SignatureScreen3</targetReference>
        </connector>
        <fields>
            <name>DisplaySignatureComponentText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Display signature&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This screen is demonstrating how you can display a previous signature that was uploaded with the eSignature component. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Input Configuration&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Content Version Id is required and must be a file you previously uploaded using the eSignature Component&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displaySignatureComponent</name>
            <extensionName>c:h8SignatureView</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contentVersionId</name>
                <value>
                    <elementReference>savedSignatureId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>This is an example of embedding the esignature component onto the screen within a flow</description>
        <name>ESignatureScreen</name>
        <label>ESignatureScreen1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ESignatureScreen2</targetReference>
        </connector>
        <fields>
            <name>SimpleSignatureText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Simple Signature Setup&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This screen just has the component added with basic configuration.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Input Configuration&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Record Id&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; is the Id of the record you want to link the signature to.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Signature File Name &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;is set to a generic name so I could query it back out later if I want&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Is Read Only &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;is set to False&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Required &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;is set to False&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Output Configuration&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Saved Signature Id&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; this is linked to a variable again so once saved I can pull back the file and potentially move it or update permissions or embed on a page.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>page1Signature</name>
            <extensionName>c:h8ESignature</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>signatureFileName</name>
                <value>
                    <stringValue>signature</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isReadOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>savedSignatureId</assignToReference>
                <name>signatureRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>This is an example of embedding the esignature component onto the screen within a flow</description>
        <name>ESignatureScreen2</name>
        <label>ESignatureScreen2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DisplaySignatureScreen</targetReference>
        </connector>
        <fields>
            <name>SimpleSignatureText2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Signature Setup - Required&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This screen just has the component added and is set to required, this is will prevent navigation to the next screen until the signature has been saved.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Input Configuration&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Record Id&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; is the Id of the record you want to link the signature to.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Signature File Name &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;is set to a generic name so I could query it back out later if I want&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Is Read Only &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;is set to False&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Required &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;is set to True - this will prevent navigation to the next screen until you have saved your signature&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Output Configuration&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Saved Signature Id &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;this is linked to a variable again so once saved I can pull back the file and potentially move it or update permissions or embed on a page.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>page2Signature</name>
            <extensionName>c:h8ESignature</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>signatureFileName</name>
                <value>
                    <stringValue>signature</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isReadOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>savedSignatureId</assignToReference>
                <name>signatureRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>This is an example of embedding the esignature component onto the screen within a flow</description>
        <name>SignatureScreen3</name>
        <label>SignatureScreen3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_SimpleSignatureText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Signature Setup - ReadOnly&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This screen just has basic configuration and is blocking the entry of a signature - you might want to do this for potentially if someone has to complete other fields and data prior to being able to add their signature.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Input Configuration&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Record Id&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; is the Id of the record you want to link the signature to.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Signature File Name &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;is set to a generic name so I could query it back out later if I want&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Is Read Only &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;is set to True&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Required &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;is set to False&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Output Configuration&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Saved Signature Id &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;this is linked to a variable again so once saved I can pull back the file and potentially move it or update permissions or embed on a page.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>page3Signature</name>
            <extensionName>c:h8ESignature</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>signatureFileName</name>
                <value>
                    <stringValue>signature</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>savedSignatureId</assignToReference>
                <name>signatureRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ESignatureScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>This is the Id of the record that the signature is being linked to</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the Id of the saved signature content version</description>
        <name>savedSignatureId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
